.clear {
	clear:both;
}
	/* reservation box */
	.dhrFieldset-4{
		position: relative;
	}
	.dhrFieldset {
		width: 100%;
		height: 30px;
		/*border-radius: 5px;*/
		webkit-border-radius: 5px;
		moz-border-radius: 5px;
		border: 1px solid #C5A24C;
	}
	.dhrFieldset1 {
		width: 50%;
		height: 20px;
		border: 1px solid #C5A24C;
	}
	.dhrFieldset-1{
		width: 48.3%;
		display: inline-block;
	}
	.dhrFieldset-2{
		width: 32.1%;
		display: inline-block;
		margin-right: 0px;
	}
	.dhrFieldset-3{
		width: 97.5%;
	}
	.dhrFieldset-5{
		width: 32.1%;
		display: inline-block;
		margin-right: 0px;
	}
	.dhrBlock {
		margin: auto;
	}
	.dhrLabel {
		display: block;
		margin: 10px 0 5px 0 ;
		color: #D2691E;
	}
	.dhrBookingBox {
		width: 100%;
		padding: 5px;
		background: #f5f5f5;
		margin: 0 auto;
		box-shadow: 0 0px 30px #66490B;
	}
	.dhrFormContainer {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 0px 0px 10px 0px;
	}
	.dhrFieldset-1{
		width: 11%;
	}
	.dhrFieldset-2{
		width: 6%;
	}
	.dhrFieldset-3{
		width: 10%;
	}
	.dhrFieldset-4{
		/*width: 11%;*/
	}
	.dhrFieldset {
		width: 100%;
		height: 20px;
		text-align: center;
		border: 2px solid #D2691E;
	}
	.dhrBlock {
		margin: 10px 5px;
		display: inline-block;
		font-family: calibri;
		font-size: 1em;
		color: #C5A24C;
	}
	.dhrLabel {
		display: block;
		margin: 0 0 5px 0;
		text-align: center;
	}
	.dhrBtn {
		padding: 0px;
		width: 100px;
		top: -1px;
		background: #D2691E;
		color: #fff;
		font-size: .9em;
		line-height: 30px;
		font-family: calibri;
		position: relative;
	}
	.dhrBtn1 {
		padding: 0px;
		width: 150px;
		background: #D2691E;
		color: #fff;
		font-size: 16px;
		line-height: 40px;
		font-family: calibri;
	}
	.dhrBtn2 {
		padding: 0px;
		width: 192px;
		/* background: #C5A24C; */
		color: #C5A24C;
		font-size: 15px;
		/*border-radius: 5px;*/
		position: absolute;
		margin: -10px 0px 0px -50px;
		font-family: calibri;
		}
	.column {
		padding-top: 100px;
	}
	
/* Table */
h3 {
 font-family: calibri;
 }
table, th, td {
 border-collapse:collapse;
 border:1px solid #f7f7f7;
 font-family: calibri;
 color: #fff;
}

.head {
 background-color: #000;
}

.head th {
 padding:10px;
 color: #fff;
 text-shadow:1px 1px 0px #000;
 font-size:22px;
 font-size: Comic Sans MS;
}
.fill{
font-family: Calibri;
font-size: 20px;
color: #000;
}
.fill2{
padding: 35px;
font-family: Calibri;
font-size: 16px;
color: #000;
}
.ganjil {
 background-color: #DCDCDC;
 font-family: Comic Sans Ms;
 font-size: 15px;
 color: #000;
}

.genap {
 background-color: #DCDCDC;
}


.btn{
	position: center;
	text-align: center;
	z-index: 9999;
}

.btn_b {
	margin-top: 10px;
	padding: 0px;
	width: 120px;
	background: #D2691E;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	font-family: calibri;
	position: center;
}
.btn_b:hover{
	background:#000;
}

.debug {
	border:1px solid black;
}